* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: #303952;
}

a {
  color: #303952 !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ant-card-cover {
  height: 220px;
  overflow: hidden;
  text-align: center;
}

.product-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.ant-card-cover img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider img {
  height: 450px;
  object-fit: cover;
}

.tag {
  display: inline-block;
  padding: 3px 7px;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 85%;
}

.ant-card-grid {
  cursor: pointer;
}

.ant-input-group-wrapper {
  margin-top: 7px;
}

.ant-card-meta-title {
  color: rgba(0, 0, 0, 0.7);
}

.price {
  font-weight: 600;
}

.ant-menu-sub.ant-menu-inline {
  background: #fff !important;
}
